//font color
$common_font_color: #4E4E4E;

//header (navbar) color codes
$navbar_container_background: #FFFFFF;
$navbar_border_color:#e8eef6;
$icon_color: #d6d6d6;


//footer color codes
$footer_container_background: #e1e4e9;

//quality page color codes

//quality colors
//$quality_content_color: #4E4E4E;

//quality background color
$quality_container_background: #C6CEDB;
$home_icon_container_background: #608FC9;
$left_card_container_background: #DCE2EA;
$right_card_container_background: #EAEFF7;
$card_button_container_background: #FFFFFF;

//box shadow
$container_card_shadow: #00000012;
$button_shadow: #00000043;
$icon_shadow: #00000029;

